<h1>Listing Dummies</h1>

<table>
  <tr>
    <th>Address</th>
    <th>Desc</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dummies.each do |dummy| %>
  <tr>
    <td><%= dummy.address %></td>
    <td><%= dummy.desc %></td>
    <td><%= dummy.price %></td>
  </tr>
<% end %>
</table>

<br />

