/Library/Application Support/TextMate/Bundles/Ruby on Rails.tmbundle/Support/lib/rails/buffer.rb:61:in `text=': undefined method `to_a' for #<String:0x007fbaa512c278> (NoMethodError)
	from /Library/Application Support/TextMate/Bundles/Ruby on Rails.tmbundle/Support/lib/rails/buffer.rb:22:in `initialize'
	from /Library/Application Support/TextMate/Bundles/Ruby on Rails.tmbundle/Support/lib/rails/buffer.rb:32:in `new'
	from /Library/Application Support/TextMate/Bundles/Ruby on Rails.tmbundle/Support/lib/rails/buffer.rb:32:in `new_from_file'
	from /Library/Application Support/TextMate/Bundles/Ruby on Rails.tmbundle/Support/lib/rails/rails_path.rb:68:in `buffer'
	from /Library/Application Support/TextMate/Bundles/Ruby on Rails.tmbundle/Support/bin/create_partial_from_selection.rb:62:in `<main>'

<p>Find me in app/views/homes/show.html.erb</p>
