<h1>Listing Pet Houses</h1>

<table>
  <tr>
    <th>Address</th>
    <th>Desc</th>
    <th>Price</th>
		<th>Link</th>
  </tr>

<% @pethouses.each do |pethouse| %>
  <tr>
    <td><%= pethouse.address %></td>
    <td><%= pethouse.desc %></td>
    <td><%= pethouse.price %></td>
    <td><%= link_to "Detail", pet_house_path(pethouse) %> </td>
  </tr>
<% end %>

</table>
