@import "compass";
@import "scaffolds";

div#header {
	width: 100%;
	height: 72px;
	margin: 0px auto;
	margin-top: -10px;
	background-color: rgba(black, 0.2);
	
	div.content {
		width: 960px;
		margin: 0 auto;
	}
	
	div.logo {
		float: left;
		margin-top: 24px;
		a {
			font-size: 48px;
			font-weight: bold;
			color: rgba(black, 0.8);
			text-decoration: none;
			
			&:hover {
				background: none;
			}
		}
	}
	
	div#user_nav {
		float: right;
		margin-top: 24px;
		
		a {
			color: black;
			&:hover {
				font-weight: bold;
				background: none;		
			}
			
		}
	}
}

div#footer {
	width: 100%;
	height: 72px;
	margin: 0 auto;
	background-color: rgba(black, 0.2);
	
	div.content {
		width: 960px;
		margin: 0 auto;
		text-align: center;
		padding-top: 16px;
		
		p {
			font-weight: bold;
		}	
	}
}

div#contents {
	width: 960px;
	margin: 0 auto;
	min-height: 480px;
}

div#homes {
	padding-top: 96px;
}

div.search {
	text-align: center;
	height: 48px;
	margin: 12px auto;
	padding-top: 12px;
	border: 1px solid rgba(black, 0.1);
	@include border-radius(8px);
	background-color: rgba(black, 0.5);
	
	input, select {
		font-size: 14px;
		padding: 5px 15px;
		color: rgba(black, 0.8);
		border: 1px solid rgba(black, 0.1);
		@include border-radius(4px);
		-webkit-appearance: none;
	}
}

div#pet_houses {
	div.pet_house_brief {
		position: relative;
		margin: 0 auto;
		width: 80%;
		min-height: 60px;
		padding: 4px;

		span {
			display: block;
			position: absolute;
			font-size: 16px;
		}
		
		span.title {
			font-weight: bold;
			top: 12px;
			left: 12px;
		}
		span.address {
			top: 36px;
			left: 12px;			
		}
		span.price {
			top: 12px	;
			right: 12px;
			font-size: 24px;
		}
		a {
			color: black;
		}
	}
	
	div.odd {
		background-color: rgba(black, 0.1);
	}
	div.even {
		background-color: rgba(white, 0.1);
	}
}

div#pet_house {
	position: relative;
	margin: 24px auto;
	width: 100%;
	
	div#pet_house_detail {
		width: 60%;
		table {
			width: 100%;
			font-size: 16px;
			td.title {
				width: 20%;
				height: 48px;
				font-weight: bold;
//				text-align: right;
			}
			td.desc {
				padding-left: 10px;
			}
		}
	}

	div#pet_house_map {
		position: absolute;
		top: 0px;
		right: 0px;

		width: 300px;
		height: 200px;
		background-color: rgba(black, 0.2);
	}
	
	div#pet_house_photo {
		position: absolute;
		top: 250px;
		right: 0px;

		width: 300px;
		height: 200px;
		background-color: rgba(black, 0.2);	
	}


	
}

div#pet_house_new {
	margin: 24px auto;
	width: 100%;
	
	form {
		width: 50%;
		
		input[type='text'], textarea {
			width: 70%;
			font-size: 16px;
			line-height: 28px;
		}
		select { width: 30%; }
		label { font-weight: bold;}
		span.error { color: red;}
	}
}


div.field_with_errors {
	display: inline;
	input, textarea {
		border: 1px solid red;		
	}	
}

div#reservations {
	margin: 24px auto;
	width: 100%;
	
	.calendar {
	  border-collapse: collapse;
	  width: 100%;

	  td, th {
	    font-family: "Lucida Grande", arial, helvetica, sans-serif;
	    font-size: 10px;
	    padding: 6px;
	    border: 1px solid #999;
	  }

	  th {
	    background: #DDD;
	    color: #666;
	    text-align: center;
	    width: 14.2857142857143%;
	  }

	  td {
	    background: #FFF;
	    color: #777;
	    height: 80px;
	    vertical-align: top;
	    font-size: 16px;
	  }

	  .notmonth, .notmonth a { color: #CCC; }
	  .today { background-color: #D7F2FF; }
	}

	#month {
	  margin: 0;
	  padding-bottom: 10px;
	  text-align: center;
	  font-size: 22px;
	  a {
	    text-decoration: none;
	    padding: 0 10px;
	    color: #999;
	  }
	}

	ul {
	  font-size: 11px;
	  padding-left: 20px;
	}
}
